<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6"> 
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>ID:</strong> {{idEmpleado}}</li>
            <li class="list-group-item"><strong>Nombre:</strong> {{c.nombreEmpleado}}</li>
            <li class="list-group-item"><strong>Apellido Paterno:</strong> {{c.apellidoPaterno}}</li>
            <li class="list-group-item"><strong>Apellido Materno:</strong> {{c.apellidoMaterno}}</li>
            <li class="list-group-item"><strong>Numero de Empleado:</strong> {{c.numeroEmpleado}}</li>
            <li class="list-group-item"><strong>Fecha de Alta:</strong> {{c.fechaAlta}}</li>
            <li class="list-group-item"><strong>NSS:</strong> {{c.nss}}</li>
            <li class="list-group-item"><strong>RFC:</strong> {{c.rfc}}</li>
            <li class="list-group-item"><strong>CURP:</strong> {{c.curp}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  